/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a,a:hover {
  text-decoration: none;
  color: #fff;

}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  background: #181b21;
} */

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 68px;
  border-bottom: 1px solid rgba(113, 119, 144, 25%);
  padding: 0 30px;
  white-space: nowrap;
  background-color: #0f0f0f;
  z-index: 1000;
}

.logo a{
  color: #fff;
  font-size: 25px;
}

.logo a i{
  background-color: red;
  font-size: 15px;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}

.search-bar {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  padding-left: 16px;
  border-radius: 8px;
}

.search-bar input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #0f0f0f;
  font-size: 15px;
  font-weight: 500;
  padding: 0 20px 0 20px;
  color: white;
}

.search-bar i.fa-magnifying-glass {
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 12px;
  color: #888;
  padding: 14px 25px;
  cursor: pointer;
  border-left: 1px solid #888;
  width: 30px;
}

.fa-microphone {
  color: #fff;
  font-size: 35px;
  padding-left: 25px;
  cursor: pointer;
}

.header-profile {
  display: flex;
  align-items: center;
  padding: 0 15px 0 40px;
}

.header-profile i{
  font-size: 19px;
  color: #f9fafb;
  margin-right: 22px;
}

.notification {
  position: relative;
}

.notification .notification-number{
  position: absolute;
  background-color: #ee7616;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  right: 10px;
  top: -10px;
}

.profile-user {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-left: 22px;
}

/* --------------------------- */

@keyframes headerNotifyGrowth {
  from{
      opacity: 0;
      transform: scale(0);
  }
  to{
      opacity: 1;
      transform: scale(1);
  }
}

.header__navbar-user{
  display: flex;
  justify-items: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu{
  display: block;
}

.header__navbar-user-menu{
  position: absolute;
  background-color: #282828;
  top: 100%;
  padding-left: 0;
  right: 0;
  border-radius: 2px;
  width: 180px;
  z-index: 1;
  box-shadow: 0 0 3px black;
  display: none;
  transform-origin: calc(100% - 20px) top; /*di chuyển tâm của animation*/
  animation: headerNotifyGrowth ease-in 0.2s;
}

.header__navbar-user-menu::after{
  position: absolute;
  display: block;
  content: "";
  border-color: transparent transparent #282828 transparent;
  border-width: 8px 8px;
  border-style: solid;
  top: -15.5px;
  right: 27px;
  z-index: 0;
}

.header__navbar-user-item{
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  height: 50px;
  
}

.signout {
  color: white;
}

.signin {
  color: black;
  background-color: white;
  height: 40px;
  width: 75px;
  border-radius: 10px;
  font-weight: 400;
}

.upload-video {
  margin-right: 0;
  font-size: 24px;
  cursor: pointer;
}

.header__navbar-user-item img {
  margin-left: 0;
}

.header__navbar-user-item .signout {
  padding-left: 0;
}

.header__navbar-user-item p{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  padding: 10px 16px;
  margin-bottom: 0;
}

.header__navbar-user-item p:first-child{
  border-top-left-radius:2px ;
  border-top-right-radius:2px ;
}

.header__navbar-user-item p:last-child{
  border-bottom-left-radius:2px ;
  border-bottom-right-radius:2px ;
}

.header__navbar-user-item:hover{
  background-color: #999ba5;
  cursor: pointer;
}
