<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/">Youtube clone</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/upload-video">
        <mat-icon>video_call</mat-icon>
      </button>
      <button *ngIf="isAuthenticated; else noAuth" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button> -->
      <!-- <a *ngIf="securityService.profile; else loginTemplate">{{securityService.profile.firstName}}</a> -->
      <!-- <ng-template #noAuth #loginTemplate>
        <button mat-raised-button (click)="login()" *ngIf="!securityService.profile">Login</button>
      </ng-template>
      <br>
        <button (click)="logout()" *ngIf="securityService.profile">Log out</button>
    </mat-toolbar-row>
  </mat-toolbar> -->
  

<div class="header">
  <div class="logo">
    <a href="#"><i class="fa-solid fa-play"></i> Momotube</a>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search" #box (keyup.enter)="searchVideo(box.value)">
    <a href="">
      <i class="fa-solid fa-magnifying-glass" ></i>
    </a>
  </div>
  <div class="header-profile">
    <div class="upload-video" (click)="routUpload()">
      <i class="fa-solid fa-video"></i>
      <i class="fa-solid fa-angles-up"></i>
    </div>
    <!-- <div class="notification">
      <span class="notification-number">
      5 </span>
        <i class="fa-solid fa-bell"></i>
    </div> -->
    <!-- <i class="fa-solid fa-sun"></i> -->
    <button (click)="login()" *ngIf="!securityService.profile" class="signin">Login</button>
    <!-- <button mat-raised-button (click)="logout()" *ngIf="securityService.profile">Logout</button> -->

    <div class="header__navbar-item header__navbar-user">
      <div *ngIf="securityService.profile"><img class="profile-user" src={{userDto.image}} alt=""></div>
      
      <ul class="header__navbar-user-menu">
        <li class="header__navbar-user-item">
          <img class="profile-user" src={{userDto.image}} alt="">
          <p>{{userDto.fullName}}</p>
        </li>
        <li class="header__navbar-user-item" routerLink="/my-videos">
          <p>Your channel</p>
        </li>
        <li class="header__navbar-user-item">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <p class="signout" (click)="logout()" *ngIf="securityService.profile">Sign Out</p>
        </li>
      </ul>
    </div>

  </div>
</div>