<div class="video-card" id="myElement">
    <img src="{{video.thumbnailUrl}}" alt="Video Thumbnail" class="video-thumbnail" routerLink="/video-detail/{{video.id}}">
    <div class="video-info" routerLink="/video-detail/{{video.id}}">
        <h2>{{video.title}}</h2>
        <p>{{video.viewCount}}k views • 2 days ago</p>
        <p>{{video.description}}</p>
        <div class="channel-info">
            <img src={{img}} alt="Channel Avatar" class="channel-avatar">
            <div class="channel-name">{{video.author}}</div>
        </div>
    </div>
    <button class="buttonred" (click)="deleteVideo(video.id)">Delete</button>
    <button mat-raised-button class="buttonwhite" routerLink="/edit-video/{{video.id}}">Update</button>
</div>