.container {
    margin-top: 68px;
}

.mat-title {
    font-size: 30px;
    margin: 20px 0;
    color: white;
}

.formset {
    /* margin-right: 100px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.labelst {
    color: wheat;
}

.videowidth {
    max-width: 711px;
    max-height: 400px;
}