<!-- <mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
        <mat-list-item role="listitem" routerLink="/featured">
            <mat-icon matListItemIcon>home</mat-icon>
            <p matListItemTitle>Home</p>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/subscriptions">
            <mat-icon matListItemIcon>subscriptions</mat-icon>
            <p matListItemTitle>Subscriptions</p>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/history">
            <mat-icon matListItemIcon>history</mat-icon>
            <p matListItemTitle>History</p>
        </mat-list-item>

        <mat-list-item role="listitem" routerLink="/liked-videos">
            <mat-icon matListItemIcon>thumb_up</mat-icon>
            <p matListItemTitle>Liked Videos</p>
        </mat-list-item>
      </mat-nav-list>
</mat-sidenav> -->

<div class="wrapper">
    <div class="left-side">
        <div class="side-wrapper">
            <div class="side-menu">
                <a href="#" routerLink="">
                    <i class="fa-solid fa-house"></i>  Home
                </a>
                <a href="" routerLink="/subscriptions">
                    <i class="fa-regular fa-circle-play"></i>  Subscriptions</a>
                <a href="" routerLink="/history">
                    <i class="fa-solid fa-clock-rotate-left"></i> History</a>
                <a href="" routerLink="/liked-videos">
                    <i class="fa-regular fa-heart"></i> Liked Videos</a>
                <a href="" routerLink="/my-videos">
                    <i class="fa-solid fa-photo-film"></i> Your Videos</a>
                <a href="" routerLink="/thong-ke">
                    <i class="fa-regular fa-chart-bar"></i> Thong Ke</a>
                    <a href="" routerLink="/trending" class="freefire">
                        <i class="fa-solid fa-fire"></i> Trending</a>
            </div>
        </div>
        <div class="side-wrapper">
            <div class="side-title">
                Subscirption
            </div>
            <div class="side-menu" *ngFor="let userSub of userSubcribeList">
                <!-- <a href="">
                    <i class="fa-solid fa-house"></i>  Hung momo
                </a>
                <a href="">
                    <i class="fa-solid fa-chart-pie"></i>  Mycode</a>
                <a href="">
                    <i class="fa-solid fa-landmark"></i> Web Design</a>
                <a href="">
                    <i class="fa-solid fa-box-archive"></i> Web Developer</a> -->
                <app-tagname [userSub]="userSub"></app-tagname>    
            </div>
        </div>
        <div class="side-wrapper">
            <div class="side-title">
                Thể Loại
            </div>
            <div class="side-menu">
                <a href="" routerLink="/videos-cauchuyen">
                    <i class="fa-regular fa-hard-drive"></i>  Câu Chuyện
                </a>
                <a href="" routerLink="/videos-treem">
                    <i class="fa-solid fa-child"></i>  Trẻ Em
                </a>  
                <a href="" routerLink="/videos-bongda">
                    <i class="fa-regular fa-futbol"></i>  Bóng Đá
                </a>  
                <a href="" routerLink="/videos-hoahau">
                    <i class="fa-solid fa-person-dress"></i>  Hoa Hậu
                </a>  
                <a href="" routerLink="/videos-sieunhan">
                    <i class="fa-brands fa-superpowers"></i>  Siêu Nhân
                </a>  
                <a href="" routerLink="/videos-haihuoc">
                    <i class="fa-regular fa-comment-dots"></i>  Hài Hước
                </a>  
                <a href="" routerLink="/videos-trinhdien">
                    <i class="fa-solid fa-person-through-window"></i>  Trình Diễn
                </a>     
            </div>
        </div>
    </div>
</div>

