<!-- <div fxLayout="row wrap">
    <h3>Liked Videos</h3>
</div>
<div fxLayout="row wrap" fxLayoutGap="12px grid">
    <div fxFlex="20%" *ngFor="let likedVideo of likedVideos">
        <app-video-card [video]="likedVideo"></app-video-card>

    </div>
</div> -->

<div class="right-side">
    <div class="main-container">
        <div class="main-header">
            <div class="header-menu">
                <a href="#" class="main-header-link active" routerLink="/videos-cauchuyen">
                    Câu Chuyện
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-treem">
                    Trẻ Em
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-bongda">
                    Bóng Đá
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-hoahau">
                    Hoa Hậu
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-sieunhan">
                    Siêu Nhân
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-haihuoc">
                    Hài Hước
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-trinhdien">
                    Trình Diễn
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-treem">
                    Trẻ Em
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-bongda">
                    Bóng Đá
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-hoahau">
                    Hoa Hậu
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-sieunhan">
                    Siêu Nhân
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-haihuoc">
                    Hài Hước
                </a>
                <a href="#" class="main-header-link" routerLink="/videos-trinhdien">
                    Trình Diễn Vuii
                </a>
            </div>
        </div>
        <div class="content-wrapper">
            <div class="content-section">
              <div class="apps-card" *ngFor="let likedVideo of likedVideos">
                  <app-video-card [video]="likedVideo"></app-video-card>
              </div>
            </div>
        </div>
    </div>
</div>