.example-form {
    min-width: 150px;
    max-width: 1100px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    background-color: #0f0f0f;
  }
  
  .example-header-image {
    background-image: url('https://yt3.ggpht.com/ytc/AAUvwnjuYQrnTYr-sXVEBvCAmtT4nxF-3yhh5KnP0W6xmQ=s176-c-k-c0x00ffffff-no-rj');
    background-size: cover;
  }
  
  .mat-card-header {
    padding-top: 15px;
  }
  
  .comment-author {
    /* padding-top: 10px; */
    font-weight: lighter;
    font-size: medium;
    text-decoration: none;
    padding-left: 10px;
  }
  
  .delete-comment{
    padding-bottom: 15px;
  }
  
  .view-comments{
    padding-top: 5px;
    color: #fff;
  }

  .color {
    color: #fff;
  }

  .example-form.label-comment {
    font-size: 20px;
  }

  .date {
    color: #fff;
  }

  .img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }

  .infoavt {
    display: flex;
    align-items: center;
  }

  .comment {
    background-color: #3ea6ff;
    color: #000;
  }

  .cancel {
    color: #fff;
  }

  .infoauthor {
    height: 52px;
  }

  .forminput {
    height: 20px;
  }
  